/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    padding: 20px 0;
}

.btn.bl:hover  {
    background-color: blue;
}
.btn.wh:hover  {
    color: white;
    background-color: black;
}

/* Colori */
.h-top {
    background-color: white;
}

.light-blue {
    background-color: #b4d0e7;
}

.price-table-top > div {
    border-color: black;
}

.price-table-top > div hr {
    border-color: lightgrey;
}

.f-container hr {
    border-color: white;
}

.btn-bl {
    background-color: #0061ff;
    color: white;
}

.btn-wh {
    background-color: white;
    color: black;
    border-color: black;
}

.third-section a, .third-section a:active {
    color: blue;
}

.cc {
    color: #f5f5f5;
}

.dpx-container h2 {
    color: #61082b;
}

#b1 {
    background-color: #a2d39b;
}

#b2 {
    background-color: #61082b;
}

#b3 {
    background-color: #0093ce;
}

#b4 {
    background-color: #ff1c1c;
}

#b5 {
    background-color: #d5001f;
}

#b6 {
    background-color: #b4d0e7;
}

#b7 {
    background-color: #0d2481;
}

#b8 {
    background-color: #ffd830;
}

footer {
    background-color: black;
}
.f-container p {
    color: white;
}

/* Header */
header {
    min-height: 80vh;
    position: relative;
}

.h-top {
    width: 100vw;
    position: fixed;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.h-top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: calc(100vw / 3.5);
    list-style-type: none;
}

.h-top ul li:hover {
    padding: 22px 0px;
    border-bottom: 2px solid black;
}

.h-container-bottom {
    width: 100%;
}

.h-bottom {
    height: 75vh;
    padding-top: 65px;
}

.jumbo {
    position: absolute;
    width: 35%;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
}

/* Main */
main section:not(.fourth-section) {
    width: 60%;
    margin: auto;
}

.head-section > h2:first-child {
    padding: 30px 0;
}

.head-section > div, span :not(p) {
    display: inline-block;
}

.head-section > span, div {
    vertical-align: middle;
}

#check-radio-button {
    border: 5px solid blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

#uncheck-radio-button {
    border: 2px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.fatturazione {
    padding: 20px;
}

.fatturazione:hover {
    text-decoration: underline;
}

#logo:hover, #nav-btn {
    border:0;
}

.price-table-top {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price-table-top > div {
    height: 90vh;
    width: calc(90% / 3);
}

.price-table-top > div hr {
    width: 30%;
}

.price-table-bottom {
    padding-top: 45px;
}

.price-table-bottom > div {
    height: 35vh;
    width: 100%;
}

.second-section {
    display: flex;
    align-items: center;
    padding: 50px 0px;
}

.second-section > div {
    width: calc(100% / 2);
    height: 50vh;
}

#s2-img {
    background-image: url(../img/partner.png);
    background-size: cover;
}

#s3-container {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: 30px 0;
}

#s3-container img {
    width: 100%;
}

#s3-container div {
    width: calc(90% / 3);
    margin: 30px 0;
}

.third-section h2:first-child {
    text-align: center;
}

.third-section h2 {
    padding: 80px 0;
}

.third-section a {
    margin: 0 0px 100px;
    display: inline-block;
}

.top-part {
    display: flex;
    width: 100%;
    height: 65vh;
}

.b-cont {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.b-cont div {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo img {
    width: 50%;
}

.bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.dpx-container {
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifth-section {
    height: 50vh;
}

.fifth-section > h2 {
    padding: 30px 0;
}

.fifth-section > p {
    padding: 30px 0;
    text-align: center;
}

/* Footer */
footer {
    height: 50vh;
}

.f-container {
    width: 70%;
    margin: auto;
}

.f-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.f-container-flex > div {
    width: calc(85% / 5);
    height: 38vh;
}

.f-container hr {
    width: 10%;
    margin: 30px 0;
}

#logo:hover {
    border: 0;
}

.btn {
    padding: 5px 10px;
    border: 0;
}
.btn.wh {
    border: 1px solid black;
}
.btnx2-wh {
    padding: 5px 20px;
}

.btn-dpx {
    flex-basis: 59%;
    padding-left: 20%;
}

/* Debug */
.debug header {
    background-color: lightblue;
    border: 2px dashed black;
}

.debug .h-top {
    background-color: lightcoral;
    border: 2px dashed black;
}

.debug .h-bottom {
    background-color: lightgoldenrodyellow;
    border: 2px dashed black;
}

.debug .first-section {
    background-color: lightgray;
    border: 2px dashed black;
}

.debug .price-table-top > div, .debug .price-table-bottom > div {
    background-color: lightgrey;
    border: 2px dashed black;
}

.debug .second-section {
    background-color: lightgreen;
    border: 2px dashed black;
}

.debug .second-section > div {
    background-color: lightskyblue;
    border: 2px dashed black;
}

.debug .third-section {
    background-color: lightpink;
    border: 2px dashed black;
}

.debug #s3-container {
    background-color: lightblue;
    border: 2px dashed black;
}

.debug #s3-container div {
    background-color: lightcoral;
    border: 2px dashed black;
}

.debug .fourth-section {
    background-color: lightsalmon;
    border: 2px dashed black;
}

.debug .b-cont {
    background-color: lightcyan;
    border: 2px dashed black;
}

.debug .b-cont div {
    background-color: lightgoldenrodyellow;
    border: 2px dashed black;
}

.debug .bring-dpx {
    background-color: lightgray;
    border: 2px dashed black;
}
.debug .dpx-container {
    background-color: lightpink;
    border: 2px dashed black;
}

.debug .fifth-section {
    background-color: lightseagreen;
    border: 2px dashed black;
}

.debug .footer {
    background-color: lightslategray;
    border: 2px dashed black;
}

.debug .f-container-flex {
    background-color: lightsteelblue;
    border: 2px dashed black;
}

.debug .f-container-flex div {
    background-color: lightyellow;
    border: 2px dashed black;
}