/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    padding: 20px 0;
}

.d-flex {
    display: flex;
}

.flex-sp-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.just-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.calc-2-w {
    width: calc(100% / 2);
}

.calc-2 {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.calc-3 {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.pointer {
    cursor: pointer;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.btn, .btnx-wh2 {
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}

.btn.wh {
    border: 1px solid black;
}

.btn-dpx {
    flex-basis: 59%;
    padding-left: 20%;
}

/* Header */
header {
    height: 80vh;
    position: relative;
}

.w-100 {
    width: 100%;
}

.h-top {
    position: fixed;
    height: 65px;
    z-index: 10;
}

.h-top ul {
    justify-content: space-around;
    align-items: center;
    flex-basis: calc(100vw / 3.5);
    list-style-type: none;
}

.h-top ul li:hover {
    padding: 22px 0px;
    border-bottom: 2px solid black;
}

.nav-anchor {
    text-decoration: none;
}

.h-bottom h1 {
    padding: 50px 210px 50px 60px;
    font-size: 60px;
}

.h-bottom {
    height: 80vh;
    padding-top: 65px;
    margin: auto;
    width: 70%;
}

.jumbo {
    width: 100%;
}

#head-jumbo-btn {
    margin: 40px 0;
}
.fa-arrow-down {
    position: absolute;
    bottom: 0%;
}

/* Main */
/* Corpo pagina */
main section:not(.fourth-section) {
    width: 60%;
    margin: auto;
}

/* Radio button */
#unchk-radio-btn, #chk-radio-btn {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#chk-radio-btn {
    border: 5px solid #0061ff;
}
#unchk-radio-btn {
    border: 2px solid black;
}

/* Prima sezione */
.head-section > h2 {
    margin: 140px 0 30px;
}

.head-section > div, span :not(p) {
    display: inline-block;
}

.head-section div, span {
    vertical-align: middle;
}

.fatturazione {
    padding: 25px;
}

.fatturazione:hover {
    text-decoration: underline;
}

#logo:hover, #nav-btn {
    border:0;
}

.price-table-top {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price-table-top > div {
    height: 90vh;
    width: calc(90% / 3);
}

.price-table-top > div hr {
    width: 30%;
}

.price-table-bottom {
    padding-top: 45px;
}

.price-table-bottom > div {
    height: 35vh;
    width: 100%;
}

.second-section {
    display: flex;
    align-items: center;
    padding: 50px 0px;
}

.second-section > div {
    width: calc(100% / 2);
    height: 50vh;
}

#s2-img {
    background-image: url(../img/partner.png);
    background-size: cover;
}

#s3-container {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: 30px 0;
}

#s3-container img {
    width: 100%;
}

#s3-container div {
    width: calc(90% / 3);
    margin: 30px 0;
}

.third-section h2:first-child {
    text-align: center;
}

.third-section h2 {
    padding: 80px 0;
}

.third-section a {
    margin: 0 0px 100px;
    display: inline-block;
}

.top-part {
    display: flex;
    width: 100%;
    height: 65vh;
}

.b-cont {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.b-cont div {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo img {
    width: 50%;
}

.bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.dpx-container {
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifth-section {
    height: 50vh;
}

.fifth-section > h2 {
    padding: 30px 0;
}

.fifth-section > p {
    padding: 30px 0;
    text-align: center;
}

/* Footer */
footer {
    height: 50vh;
}

.f-container {
    width: 70%;
    margin: auto;
}

.f-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.f-container-flex > div {
    width: calc(85% / 5);
    height: 38vh;
}

.f-container hr {
    width: 10%;
    margin: 30px 0;
}

#logo:hover {
    border: 0;
}

.btn {
    padding: 5px 10px;
    border: 0;
}
.btn.wh {
    border: 1px solid black;
}
.btnx2-wh {
    padding: 5px 20px;
}

.btn-dpx {
    flex-basis: 59%;
    padding-left: 20%;
}

/* Colori */
.col-w {
    color: #fff;
}
.col-b {
    color: blue;
}
.col-blk {
    color: #000;
}
.light-blue {
    background-color: #b4d0e7;
}
/* Colori hr */
.price-table-top > div hr, #cont-sub-b hr {
    border-color: lightgrey;
}
/* Colori Bottoni */
.btn.bl {
    background-color: #0061ff;
}
.btn.wh, .btx2-wh2 {
    background-color: #fff;
    color: #000;
    border-color: #000;
}
/* Colori Header */
.h-top {
    background-color: #fff;
}

.price-table-top > div {
    border-color: #000;
}

.fa-arrow-down {
    color: #000;
}

.go-to-price a:active, .nav-anchor:active {
    color: #000;
}

#first-section a:active, #third-section a:active {
    color: blue;
}

.cc {
    background-color: #f5f5f5;
}
.b-img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(249deg) brightness(105%) contrast(103%);
}
.bring-dpx h2 {
    color: #61082b;
}

footer {
    background-color: #000;
}
.f-container p {
    color: #8e8e8e;
}
.f-container hr {
    border-color: #fff;
}

#b1 {
    background-color: #a2d39b;
}
#b2 {
    background-color: #61082b;
}
#b3 {
    background-color: #0093ce;
}
#b4 {
    background-color: #ff1c1c;
}
#b5 {
    background-color: #d5001f;
}
#b6 {
    background-color: #b4d0e7;
}
#b7 {
    background-color: #0d2481;
}
#b8 {
    background-color: #ffd830;
}

/* Debug */
.debug header {
    background-color: lightblue;
    border: 2px dashed black;
}

.debug .h-top {
    background-color: lightcoral;
    border: 2px dashed black;
}

.debug .h-bottom {
    background-color: lightgoldenrodyellow;
    border: 2px dashed black;
}

.debug .first-section {
    background-color: lightgray;
    border: 2px dashed black;
}

.debug .price-table-top > div, .debug .price-table-bottom > div {
    background-color: lightgrey;
    border: 2px dashed black;
}

.debug .second-section {
    background-color: lightgreen;
    border: 2px dashed black;
}

.debug .second-section > div {
    background-color: lightskyblue;
    border: 2px dashed black;
}

.debug .third-section {
    background-color: lightpink;
    border: 2px dashed black;
}

.debug #s3-container {
    background-color: lightblue;
    border: 2px dashed black;
}

.debug #s3-container div {
    background-color: lightcoral;
    border: 2px dashed black;
}

.debug .fourth-section {
    background-color: lightsalmon;
    border: 2px dashed black;
}

.debug .b-cont {
    background-color: lightcyan;
    border: 2px dashed black;
}

.debug .b-cont div {
    background-color: lightgoldenrodyellow;
    border: 2px dashed black;
}

.debug .bring-dpx {
    background-color: lightgray;
    border: 2px dashed black;
}
.debug .dpx-container {
    background-color: lightpink;
    border: 2px dashed black;
}

.debug .fifth-section {
    background-color: lightseagreen;
    border: 2px dashed black;
}

.debug .footer {
    background-color: lightslategray;
    border: 2px dashed black;
}

.debug .f-container-flex {
    background-color: lightsteelblue;
    border: 2px dashed black;
}

.debug .f-container-flex div {
    background-color: lightyellow;
    border: 2px dashed black;
}